{% block affichage %}

<nav class="navbar">
    <a href="/" class="logo">StageForMe</a>
    <div class="nav-links">
        <ul>
            <li class="{{  '/ ' in path ? 'active' }}">
                <a href="/">Accueil</a>
            </li>
            <li class="{{  '/recherche' in path ? 'active' }}">
                <a href="/recherche">Recherche</a>
            </li>
            <li class="{{  '/legal' in path ? 'active' }}">
                <a href="/legal">Mentions légales</a>
            </li>
            {% if (role=="NO) %}
                <li class="{{  '/login' in path ? 'active' }}">
                    <a href="/login">Connexion</a>
                </li>
            {% else %}
                <li class="{{  '/dashboard' in path ? 'active' }}">
                    <a href="/dashboard">Tableau de bord</a>
                </li>
            {% endif %}

            
        </ul>
    </div>
    <img src="../../assets/images/menu-btn.png" alt="menu hamburger" class="menu-hamburger">
</nav>
{% endblock %}
