{% block affichage %}

<nav class="navbar">
    <a href="/" class="logo">StageForMe</a>
    <div class="nav-links">
        <ul>
            <li class="{{  '/ ' in path ? 'active' }}">
                <a href="/">Accueil</a>
            </li>
            <li class="{{  '/recherche' in path ? 'active' }}">
                <a href="/recherche">Recherche</a>
            </li>
            <li class="{{  '/mentions-legales' in path ? 'active' }}">
                <a href="/mentions-legales">Mentions légales</a>
            </li>
            {% if (role=="NO") %}
                <li class="{{  '/login' in path ? 'active' }}">
                    <a href="/login">Connexion</a>
                </li>
            {% else %}
                <li class="{{  '/dashboard' in path ? 'active' }}">
                    <a href="/dashboard">Tableau de bord</a>
                </li>
            {% endif %}

            
        </ul>
    </div>
    <img src="../../assets/images/menu-btn.png" alt="menu hamburger" class="menu-hamburger">
</nav>
    <script src="../../assets/js/scripts.js"></script>

<button onclick="topFunction()" id="myBtn" title="Retour en haut">
    <img src="../../assets/images/UP.png" alt="Retour en haut" class="btn-img">
</button>
{% endblock %}
