{% block affichage %}
<div class="card form-card">
  <h2 class="title">Statistiques d'activité</h2>
  
  <div class="stats-grid">
    <div class="card-info">
      <div class="title">
        Nombres d'offres
        <span class="stat-icon blue"></span>
      </div>
      <div class="stat">
        <div class="stat-value">{{ NbPosts }}</div>
      </div>
      <p class="stat-label">Toujours en recherche!</p>
    </div>

    <div class="card-info">
      <div class="title">
        Les posts adorés
        <span class="stat-icon green"></span>
      </div>
      <div class="stat">
        <div class="stat-value">
          {% for post in MostW %}
            <a href="/recherche/Fiche?id_cible={{ post.id }}&page=1&type=3">
              <div class="offres">
                <span class="title">{{ post.titre }}  nb:{{ post.nb }}</span>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
      <p class="stat-label">vers le sommet ?</p>
    </div>

    <div class="card-info">
      <div class="title">
        Trending Posts
        <span class="stat-icon red"></span>
      </div>
      <div class="stat">
        <div class="stat-value">
          {% for post in trendingPosts %}
            <a href="/recherche/Fiche?id_cible={{ post.id }}&page=1&type=3">
              <div class="offres">
                <span class="title">{{ post.titre }}  nb:{{ post.nb }}</span>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
      <p class="stat-label">ça grouille!!!</p>
    </div>

    <div class="card-info">
      <div class="title">
        Nombre d'offres moyen par ville
        <span class="stat-icon yellow"></span>
      </div>
      <div class="stat">
        <div class="stat-value">
          <canvas id="myChart"></canvas>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
            const ctx = document.getElementById('myChart');
            const posts = {{ NbPostsVille|json_encode|raw }};
              console.log(posts);
            new Chart(ctx, {
              type: 'bar',
              data: {
                labels: posts.map(p => p.ville),
                datasets: [{
                  label: '# nb of postulation',
                  data: posts.map(p => p.nb),
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          </script>

        </div>
      </div>
      <p class="stat-label">Progression annuelle</p>
    </div>
  </div>
</div>
{% endblock %}