{% block affichage %}
    {% for compte in contenant %}

        <div class="offres">
            <span class="offres title" ><img src="../../Files/Utilisateurs/logo/{{ compte.file }}" alt="PNG" width="130" height="70"></span>
            <span class="offres title">{{ compte.prenom }} {{ compte.nom }}</span>
            <div class="bottom">

                <span class="date"> {{  compte.type}} </span> <span class="nb-post"> {{ compte.promo }}</span>
            </div>
        </div>

    {% endfor %}
{% endblock %}