{% block affichage %}
    <div class="card-info">
        {% for compte in StudentByPost %}
            <a href="/recherche/fiche?id_cible={{ compte.id }}&type=1">
        <div class="card-info title">
            <span>{{ compte.promo }}</span>
            <span>{{ compte.nom }} {{ compte.prenom }}</span>
            <span>Nombre de postulation: {{ compte.nb }}</span>
        </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}