{% block affichage %}
            <div class="offres" >
                <span class="offres title"><img src="../../Files/Entreprises/logo/{{ entreprise.file }}" alt="PNG" width="130" height="70"></span>
                <span class="offres title">{{ entreprise.nom }}</span>
                <span class="offres desc">{{ entreprise.description }}</span>
                <span class="lieu">{{ entrprise.adresse }}</span>
                <span class="lieu">{{ entreprise.ville }}</span>
                <span class="lieu"> {{ entreprise.codepostal}} </span>
                <span class="lieu"> {{ entreprise.pays}} </span>
            </div>

{% endblock %}