{% block affichage %}
    <link rel="stylesheet" href="../../assets/css/recherche.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <span class="offres title">{{ post.titre }}</span>
    <div class="bottom">
        <span class="nb-post">Rémunération:{{ post.remuneration }}</span>
        <span class="date">{{ post.entreprise }}</span>
    </div>
    <span class="offres desc">{{ post.description }}</span>
    <span class="lieu">{{ post.adresse }}</span>
    <span class="lieu">{{ post.ville }}</span>
    <span class="lieu">{{ post.codepostal }}</span>
    <span class="lieu">{{ post.pays }}</span>
    <span> {{ post.competences }}</span>
    <div class="bottom">
        <span class="date">Du {{ post.datedebut}} au {{ post.datefin }}</span> <span class="nb-post">{{ post.nb_postulation }}</span>
    </div>
    {% if role=="ETUDIANT" and (check==false) %}
        <br>
        <div class="conteneur">
            <a href="/recherche/Fiche/Postuler?id_cible={{ post.id }}"><input class="liquid_box_mini" value="Postuler"></a>
        </div>
    {% endif %}

{% endblock %}