

<html lang="en">

<body>
{# {% extends "base.html.twig" %} #}
<link rel="stylesheet" href="../../assets/css/recherche.css">
<link rel="stylesheet" href="../../assets/css/style.css">
{% block body %}
<div class="liquid-form-center">

    <div class="liquid_box">
        <div class="margin_div">
            <form class="form-center" action="?= strtok($_SERVER['REQUEST_URI'], '?') ?>" method="get">
                <label>
                    <input type="search" id="Recherche" name="recherche" placeholder="Recherchez ici !" class="liquid_box_mini">
                    <input type="submit" id="Recherche_btn" value="Rechercher" class="liquid_box_mini">
                </label>
            </form>
            <br>

                <form method="get" action="?= strtok($_SERVER['REQUEST_URI'], '?') ?>" >
                    <div class="conteneur" >
                        <label class="liquid_box_mini" ><input type="radio" id="etudiants" name="type" value=1 formmethod="get" onclick="radio()" formaction="/recherche?type=1"> Comptes</label>
                        <label class="liquid_box_mini" ><input type="radio" id="offres" name="type" value=3 checked formmethod="get" onclick="radio()" formaction="/recherche?type=1"> Offres</label>
                        <label class="liquid_box_mini" ><input type="radio" id="entreprises" name="type" value=2 formmethod="get" onclick="radio()" formaction="/recherche?type=1"> Fiches entreprises</label>
                    </div>
                </form>



        </div>
        <div class="conteneur_offres" >
            {% if res is null %}
                <br> <br> <br>
                <p style="font-size: 20px"> OOPS il n'y a pas grand chose ici...</p>
                <br> <br>  <br>
            {% endif %}
            <div id="affichage_posts" class="conteneurgrid">
                {% block affichage %}
                    {% for post in contenant %}

                            <div class="offres">
                                <span class="offres title">{{ post.titre }}</span>
                                <div class="bottom">
                                    <span class="nb-post">Rémunération:{{ post.remuneration }}</span>
                                    <span class="date">{{ post.entreprise }}</span>
                                </div>
                                <span class="offres desc">{{ post.description }}</span>
                                <span class="lieu">{{ post.ville }}</span>
                                <div class="bottom">
                                    <span class="date">Du {{ post.datedebut}} au {{ post.datefin }}</span> <span class="nb-post">{{ post.nb_postulation }}</span>
                                </div>
                            </div>

                    {% endfor %}
                {% endblock %}
            </div>

        </div>
        <script src="../../assets/js/recherche.js"></script>
        {% include 'Pagination.html.twig' with {'totalPages':totalPages , 'path':path,'page':page} %}
    </div>



</div>

{% endblock %}
</body>
</html>